*.pkl filter=lfs diff=lfs merge=lfs -text
Regression-model-using-Californila-housing-dataset-for-house-price-prediction/models/California_Housing_Price_Predictor.pkl filter=lfs diff=lfs merge=lfs -text
